<div class="container" id="losfondos">
    <div class="row">
        <div class="col-xs-11 col-md-11 col-lg-4 contenedor-uno mt-5 ml-4">
            <div class="row">
                <div id="img-usuario" class="circulo-usuario">
                    
                </div>
            </div>
            <div class="row info-user">
                <div class="col-xs-12 text-center">
                    <h2 class="name-user">Luvleen Lawrence</h2>
                    <caption class="code-user">08PER9102251F1903186</caption>
                </div>
                <div class="col-xs-12 text-center">
                    <h4 class="position-user">Senior Product Designer</h4>
                    <caption class="email-user">LuvleenLawrence1990@gmail.com</caption>
                </div>
                <br>
                <div class="col-xs-12 text-center">
                    <button mat-stroked-button class="button-curriculum">Curriculum Vitae <mat-icon _ngcontent-puy-c6="" class="pl-2 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">file_download</mat-icon></button>
                </div>
            </div>
            <br>
            <div class="row around-xs">
                <div class="col-xs-2">
                    <div class="box">
                        <div class="circulo-icon">
                            <mat-icon class="text-cender">contacts</mat-icon> 
                        </div>
                        <label class="texto-iconos">Contacto</label> 
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="box">
                        <div class="circulo-icon">
                            <mat-icon class="text-cender">school</mat-icon>
                        </div>
                        <label class="texto-iconos">Formación</label>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="box">
                        <div class="circulo-icon">
                            <mat-icon class="text-cender">work_outline</mat-icon>
                        </div>
                        <label class="texto-iconos">Laboral</label> 
                    </div>
                </div>
            </div>
            <br>
            <div class="row mb-4">
                <div class="ml-4 col-xs-2">
                    <div class="box cuadrado-icon">
                        <mat-icon>wc</mat-icon>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="box">
                        <div for="">Genero</div>
                        <label><strong>Masculino</strong></label>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="ml-4 col-xs-2">
                    <div class="box cuadrado-icon-dos">
                        <mat-icon>accessible</mat-icon>
                    </div>
                </div>
                <div class="col-xs-5 pb-3">
                    <div class="box">
                        <div for="">Discapacidad</div>
                        <label><strong>Distrofia Muscular</strong></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-11 col-md-11 col-lg-7 ml-4 mt-5 contenedor-dos">
            <div class="row mb-5 between-xs">
                <div class="col-xs-1 box btn">
                    <mat-icon class="icon-educacion mt-2">sort</mat-icon>
                </div>
                <div class="col-xs-11">
                    <div class="ml-3 box">
                        <div class="texto-principla-educacon mt-3">Educación Continua</div> 
                    </div>
                </div>
            </div> 
            <div class="row mb-2 total-titulos">
                <div>
                    <span><strong>4</strong> de 10 Titulaciones</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 caja-titulacion">
                    <div class="col mt-2 mb-2 titulo-gris-inclinado">PROGRAMA DE DOCTORADO</div>
                    <div class="col pb-3 texto-p-estudios">Licenciatura en Lenguas Extranjeras con Énfasis en Inglés y Francés</div>
                    <div class="row mobile">
                        <div class="col caja-institucion">
                            <div class="col titulo-gris-inclinado"><label>Institución</label></div>
                            <div class="col instituto-area">Universidad Antioquia</div>
                        </div>
                        <div class="col">
                            <div class="col titulo-gris-inclinado"><label>Facultad</label></div>
                            <div class="col instituto-area">Universidad Antioquia</div>
                        </div>
                    </div>
                    <div class="row mt-3 divs-botones-maestria">
                        <div class="col">
                            <div class="row">
                                <div class="pr-3 ml-2 col-md-2">
                                    <mat-icon class="text-cender icon-diploma">school</mat-icon></div>
                                <div class="col-md-7">
                                    <div class="label-texto-año">Año de Terminación</div>
                                    <div class="div-fecha">15 Diciembre, 2012 </div>
                                </div>
                               <div class="col-md-2">
                                    <mat-icon>priority_high</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col between-md">

                            <div mat-stroked-button class="col-6 btn button-curriculum">
                                Acta de Grado <mat-icon class="pl-4 icono-tamaño">file_download</mat-icon>
                            </div>
                            <div mat-stroked-button class="col-5 btn button-curriculum ml-2">
                                Diploma <mat-icon class="pl-4 icono-tamaño">file_download</mat-icon>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-11 col-md-11 col-lg-4 contenedor-tres mt-5 ml-4">
            <div class="row between-xs line-b">
                <div class="col-xs-auto ml-3 box titulo-contacto around-xs">
                    Información de contacto
                </div>
                <mat-icon class="btn fle-contacto mr-3">keyboard_arrow_down</mat-icon>
            </div>
            <div class="row between-xs">
                <div class="col-xs-1 box btn">
                    <mat-icon class="estilos-iconos-contac">mail_ou</mat-icon>
                </div>
                <div class="col-xs-11">
                    <div class="ml-3 box">
                        <div class="texto-info">Email Principal</div> 
                        <label><strong>LuvleenLawrence1990@gmail.com.co</strong></label>
                    </div>
                </div>
            </div>  
            <div class="row between-xs">
                <div class="col-xs-1 box btn">
                    <mat-icon class="estilos-iconos-contac">phone_android</mat-icon>
                </div>
                <div class="col-xs-11">
                    <div class="ml-3 box">
                        <div class="texto-info">Número Celular</div> 
                        <label><strong>57 305 723 50 00</strong></label>
                    </div>
                </div>
            </div> 
            <div class="row between-xs">
                <div class="col-xs-1 box btn">
                    <mat-icon class="estilos-iconos-contac">local_phone</mat-icon>
                </div>
                <div class="col-xs-11">
                    <div class="ml-3 box">
                        <div class="texto-info">Télefono Principal</div> 
                        <label><strong>576 393 4393</strong></label>
                    </div>
                </div>
            </div> 
            <div class="row between-xs">
                <div class="col-xs-1 box btn">
                    <mat-icon class="estilos-iconos-contac">place</mat-icon>
                </div>
                <div class="col-xs-11">
                    <div class="ml-3 box">
                        <div class="texto-info">Dirección</div> 
                        <label><strong>Tv 74 F 62 b 24 sur</strong></label>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <br>

    <!-- <div class="row ml-2">
        
        <div class="col-md-7">
            
        </div>
    </div> -->
</div>


