#losfondos{
    background-color:#f4f8f9;
    background-image: url(../../assets/SVG/UdeA_Egresados_BK_SVG.svg); 
    background-repeat: no-repeat;
    background-position: center;
}



.estilos-caja-idiomas{
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border: 1px solid #b9b9b999;
    
}

.cuadrado-icon-idiomas{
    background-color: #f1f8e9;
    color: #8bc34a;
    border:1px solid #e3f2fd;
    border-radius: 12px;
    height: 60px;
    width: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cuadrado-icon-idiomas:disabled{
    background-color: #f1f8e9;
    color: #eeeeee;
    border:1px solid #e3f2fd;
    border-radius: 12px;
    height: 60px;
    width: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icono-signal{
    color: #8bc34a;
    font-size: 16px;
}

.texto-nivel{
    font-size: 12px;
    color: #535151de;
    padding: 0; 
    font-weight:600;
    margin-top: 3px;
}

.texto-idioma{
    font-size: 12px;
    color: #000000de;
    display: inline;
    justify-content: center;
    align-items: center;
}

.texto-tipo{
    font-weight: bold;
    font-size:20px;
}

.texto-español{
    font-size: 24px;
    color: #00000099;
}

.text-idiomas{
    font-size: 36px;
    color: #ffc900;
    font-weight: bold;
}
